.Countdown {
    color: #F9FEFA;
    font-family: Outfit;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
    background-color: #F9FEFA; 
  }
.container {
    margin-top:10rem;
}
.accent {
    color: #000;
    font-size: 96px;
    font-weight: 700;
}
.accent:hover {
    color:#FFD37B;
    cursor: pointer;
}