.main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.title {
    color: #000;
    font-family: Outfit;
    font-size: 172px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subtitle {
    color: #000;
    /* Header 1 */
    font-family: Outfit;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}