.main {
    background: #FFF;
    box-shadow: 4px 4px 12.5px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 60px;
    align-items: center;
    justify-content: space-between;
}
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-size: 1px;
}

.right {
    gap:100px;
    display: flex;
}