.Countdown {
    color: #000;
    font-family: Outfit;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.heading {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.mainKid {
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.dayWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 342px;
    width: 1207px;
    border-radius: 50.699px;
    background: #FFF;
    box-shadow: 4.056px 4.056px 20.077px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.day {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
}
.select {
    border-radius: 20px;
    outline: none;
    padding-left: 30px;
    background: #FFF;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.07);
    width: 40%;
    font-family: inherit;
    height: 82px;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
}
.button {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 4px 4px 19.8px 0px rgba(0, 0, 0, 0.25);
    outline: none;
    font-family: inherit;
    width: 1200px;
    height: 200px;
    font-size: 50px;
    transition: background-color 0.3s ease;
}
  .button:hover {
    /* Change the background color on hover */
    background-color: var(--Primary-1, #FFD37B);
  }
  .button:disabled {
    /* Change the background color on hover */
    background-color: var(--Primary-1, #D5D5D5);
  }














